@using ElectronicsShopBusinessLogic.Enums
@model ElectronicsShopClientView.Models.CreateOrderModel

@{
    ViewData["Title"] = "Создать заказ";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Тип доставки: @Html.DropDownListFor(rec => rec.Shipping, Html.GetEnumSelectList<Shipping>())</p>
    <p>Адрес: <input type="text" name="Model.Address" /></p>
    <p>Состав:</p>
    <table>
        <tr class="header">
            <td>Товар</td>
            <td>Описание</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        @foreach (ElectronicsShopBusinessLogic.ViewModels.ProductViewModel product in ViewBag.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Desc</td>
                <td><input type="number" name="Model.Products[@product.Id]" min="0" value="0"/></td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
    <br />
    <button type="submit">Создать</button>
}